body{
   
    text-align:center;
    font-family: "Helveteca Neue",Helvitica ,Arial, Helvetica, sans-serif;
     margin:0;

}

.box1{
     width:200px;
     height:200px;
     border:  solid  black 15px;
     padding: 20px;
     background-color:white ;
}
.box2
{
     margin-left:200px;
     width:200px;
     height:200px;
     border: solid black 10px;
     background-color: tomato;
     padding: 20px;
    
}
/*.box2 img{
     display: grid;
     place-items: center;
width: 100%;
}
*/


.box3
{
     display: flex;
     margin-left:400px;
     width:200px;
     height:200px;
     border: solid black 10px;
     background-color: cornflowerblue;
     padding: 20px;
     }
   

/*
     .box3  img{
          display: flex;
          align-items: center;
             width: 100%;

         }
*/

 


     .gridused
     {
     display: grid;
     background-color: #FFDEDE;

          
     }



p{
     background-color: yellow;
     width:200px;
     height: 50px;
     display: inline-block;
}
.inlineblock{
     width:1000px;
     background-color: darkgray;
}
.display-none{
display: block;
width: 300px;
height: 50px;
background-color: darkmagenta;

}

.bottom-cloud{
position:absolute;
}

.topcontainer{
     position: relative;
     



}

.top-cloud{
     position: absolute;
     left:300px;
}

.bottom-cloud{
     position: absolute;

     right:300px;
}


h1{
    
     font-family: 'Sacramento',cursive;
     margin: 0 auto ;
     width:30%;
     color: darkorchid;
}

h2{
     font-family:'Montserrat',serif
     
}

.rain{
     position: absolute;
     bottom:30px;
     right:290px;
     top:320px;
     width:20%;
}

