<html>

     <head>
       <title>About Me</title>
       <link rel="stylesheet"  href="about.component.css">

     </head>
     <body>
     
      
  

          <div class="gridused">
 <div class="box1">
               <h1> I'm Krishna</h1>
                 
          </div>
          <div class="box2">
               <img src="">
               <h2>  i am a </h2> 
          </div>
          <div class="box3">
               <img src="">
               <h2>web developer.</h2>
          </div>
     </div>
          
   


</body>
</html>
