<html>

     <head>
       <title>About me</title>
       <link rel="stylesheet"  href="about.component.css">

       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Sacramento&display=swap" rel="stylesheet">


       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Sacramento&display=swap" rel="stylesheet">

      
     </head>
     <body>
              <!--h3 class="display-none">my name is jay</h3-->
      <div class="inline-block">
     <!--p>using display property </p>
      <p> to check</p>
      <p>if all the paragraphs comes </p>
  <p>side by side</p-->
</div>
          <!--div class="gridused">
 <div class="box1">
               <h1> I'm Krishna</h1>
                 
          </div>
          <div class="box2">
               <img src="">
               <h2>  i am a </h2> 
          </div>
          <div class="box3">
               <img src="">
               <h2>web developer.</h2>
          </div>
     </div-->
     
     <!--img src="assets/bg2.jpeg" class="one">
     <img src="assets/bg3.jpeg" class="two"-->
   
<div class="topcontainer">
     <img src="assets/cloud.png" class="top-cloud">

     <h1>I'm  Krishna</h1>
     <h2> a web developer</h2>
     <img src="assets/cloud.png" class="bottom-cloud">
   
</div>
<img src="assets/rain.jpg" class="rain">





</body>
</html>
