

    
     <nav class="navbar navbar-expand navbar-light bg-light">
<a class="navbar-brand">{{pageTitle}}</a>
<ul class="nav nav-pills">
     <li><a class="nav-link" routerLink="/product">Product List</a></li>
     <li><a class="nav-link" routerLink=
          '/product/ :id'>Product Details</a></li>
     <li><a class="nav-link" routerLink="/welcome">Home</a></li>
    <li><a class="nav-link" routerLink="/about">About</a></li>
    <li><a class="nav-link" routerLink="/expense">Expenses</a></li>
</ul>
</nav>
     <router-outlet></router-outlet>