<body>
<form>
     <div class="row">
     <h1 class="col-sm-9 text-center">Personal expense manager</h1>

          <button type="button" class="col-sm-1">add-friend</button>
          <img src="assets/plus.png" 
          class="add-friend col-sm-2">
</div>

<h1>Add new item</h1>
<div class="row">
  <div class=" col-sm-6 mb-3">
     <label for="type" class="form-label">Type</label>
  <select id="type" name="type">
           <option value="cash" >cash</option>
    <option value="phonepay">phonepay</option>
    <option value="googlepay">googlepay</option>
    <option value="paytm">paytm</option>
  </select>
  </div>



  <div class=" col-sm-6 mb-3">
<label for="name" class="form-label">Add friend</label>

     <select id="type" name="type">
   <option value="andy" >andy</option>
   <option value="sandy">sandy</option>
   <option value="randy">randy</option>
   <option value="mandy">mandy</option>
 </select>
   </div>
</div>


<div class="row">
  <div class="form-group  form-inline col-sm-6  mb-3">
    <label for="name" class="form-label col-sm-3">Name</label>
    <input type="text" class="form-control col-sm-3" id="name">
  </div>

  <div class="form-group col-sm-6 mb-3">
     <label for="date" class="form-label col-sm-3">Date</label>
     <input type="date" class="form-control col-sm-3" id="date">
   </div>

</div>


<div class="row">
  <div class=" col-sm-6 mb-3">
     <label for="currency" class="form-label">Currency</label>
     
     <select id="currency" name="currency"  class="form-control">
          <option value="usd" >usd</option>
   <option value="rupee">rupee</option>
   <option value="yenem">yenem</option>
   <option value="vietnamese">vietnamese</option>
 </select>
</div>

<div class=" col-sm-6 mb-3">
     <label for="amt" class="form-label">Amount</label>
     <input type="number" class="form-control" id="amt">
   </div>
</div>
<div class="row">
<div class="centered ">
  <button type="submit" class=" btn btn-primary" >Add expenses</button>
</div>
</div>
   </form>

<footer>
     
</footer>
</body>